/* Page */
body {
    background-color: rgb(0, 0, 0);
    background-size: cover;
    background-position: center;
    font-family: Lato;
    font-weight: 300;
    position: relative;
    height: 100vh;
   
}

/* Panneaux */
.player-0-panel, .player-1-panel {
    
    border-radius: 10%;
    width: 50%;
    float: left;
    height: 50%;
    padding: 20px;
}

.player-name {
    color: #6b6969;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
}

.pad
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 100px;
    width: 100px;
}



.player-score{
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 130px;
}

.player-global-label {
    text-align: center;
    top:5px;
    font-size: 17px;
    font-weight: 400;
    color: #d7dddf;
}

.player-current-box {
   
    color: rgb(253, 253, 255);
    width: 50%;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
    border-radius: 50%;

}

.player-current-label {
    text-transform: none;
    margin-bottom: 10px;
    font-size: 25px;
    color: rgb(22, 94, 122);
   
}

.player-current-score {
    font-size: 25px;
}

/*JOUEUR ACTIF*/
.active { background-image: linear-gradient(rgba(16, 161, 142, 0.4), rgba(0, 0, 0, 0.4)), url(Images/fond.jpg);
    
}
.active .player-name { font-weight: bold; 
   color: #ffffff;}



/* Bouttons */
.btn {
    
    position: absolute;
    width: 100px;
    left: 50%;
    transform: translateX(-50%);
   font-family: Lato;
    font-size: 12px;

}

.btn-new { top: 550px;}
.btn-roll { top: 100px;}
.btn-hold { top: 150px;}
.btn-rules {
    top: 650px;
    width: 200;
    font-size: 15px;
    color: rgb(22, 143, 241);
    background: none;
    border: none;}

.btn-credit {
    top: 900px;
    color: #555;
    background: none;
    border: none;
    font-weight: 300;
    color: #313233;
 }

/* Dice images */
.dice {
    position: absolute;
    left: 50%;
    top: 220px;
    transform: translateX(-50%);
    height: 320px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
}
/* anim */
.anim {
    position: absolute;
    left: 50%;
    top: 280px;
    transform: translateX(-50%);
    height: 200px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
}

 /* Winner status */ 
 .winner { background-image: linear-gradient(rgba(16, 161, 142, 0.4), rgba(0, 0, 0, 0.4)), url(Images/fondwin.jpg);}

 .winner .player-name { font-weight: bold; color: #f4f5f7; }
 
 
 
     
 

@media screen and (max-width:800px){

    .player-0-panel, .player-1-panel {
    
        border-radius: 10%;
        padding: 10px;
    }
    .player-name {
        
        font-size: 25px;
        font-weight: 90;
        margin-top: 20px;
        margin-bottom: 10px;
       
    }

    .pad
{
       
    height: 80px;
    width: 80px;


}
    .player-score {
        text-align: center;
        font-size: 60px;
        font-weight: bold;
        color: #ffffff;
        margin-bottom: 130px;
    }
    /* Dice images */
.dice {
    top: 240px;
    height: 150px;
}
/* anim */
.anim {
    top: 280px;
    
    height: 150px;
 
}
/* Specific buttons */
.btn-new { top: 500px;}
.btn-roll { top: 100px;}
.btn-hold { top: 150px;}
.btn-rules { top: 570px;width: 400; font-size: 15px;}
    
  }

  .btn-credit {
    left: 50%;
    top: 650px;
   }

  /* MEDIA QUERIES */
  
  @media screen and (max-width:700px){

    .player-0-panel, .player-1-panel {
    
        border-radius: 0%;
        padding: 1px;
    }
    .player-name {
        
        font-size: 19px;
        font-weight: 80;
        margin-top: 10px;
        margin-bottom: 10px;
        }

    .pad
    {
        height: 70px;
        width: 70px;
    
    
    }
    .player-score {
        
        font-size: 50px;
        
        
    }
    
    /* Dice images */
    .dice {
        top: 240px;
        height: 100px;
    }
    /* anim */
    .anim {
        top: 240px;
        height: 100px;
    }
    .btn {
        
        width: 150px;
        left: 50%;
         font-size: 15px;
   }

   .btn {
    
    position: absolute;
    width: 100px;
    left: 50%;
    transform: translateX(-50%);
   font-family: Lato;
    font-size: 10px;

}
    /* Specific buttons */
.btn-new { top: 410px;}
.btn-roll { top: 100px;}
.btn-hold { top: 150px;}
.btn-rules { top: 490px; width: 400; font-size: 15px;}

.active .player-name::after {font-size: 37px;}

.btn-credit {
    top: 600px;
   }
  }
  
  @media screen and (max-width:600px){

    .player-0-panel, .player-1-panel {
    
        border-radius: 0%;
        padding: 1px;}

    .player-name {
        
        font-size: 18px;
        font-weight: 70;
      
           }

    .pad
    {
        display: none;
        height: 60px;
        width: 60px;
    
    
    }
    .player-score {
        
        font-size: 40px;
        
    }
     /* Dice images */
.dice {

    top: 240px;
    height: 100px;
    
}
/* anim */
.anim {
    top: 210px;
    height: 100px;
}
.btn {
    
    width: 100px;
    font-size: 13px;
}
/* Specific buttons */
.btn-new { top: 400px;}
.btn-roll { top: 100px;}
.btn-hold { top: 150px;}
.btn-rules { top: 470px; width: 200; font-size: 12px;}
.btn-credit {
    top: 600px;
    bottom: -50px;
   }
.active .player-name::after {font-size: 37px;}
    
  }

  
  
  @media screen and (max-width:480px){
    .player-0-panel, .player-1-panel {
    
        border-radius: 0%;
        padding: 1px;}

    .player-name {
        font-size: 16px;
        font-weight: 60;
        
          
    }
    .pad
    {
        display: none;
         height: 50px;
        width: 50px;
    
    
    }
    .player-score {
        
        font-size: 30px;
        
    }
        /* Dice images */
.dice {
    top: 240px;
    height: 100px;
}
/* anim */
.anim {
    top: 240px;
    height: 60px;
}
.btn {
    
    width: 50px;
    font-size: 12px;
    
}

/* Specific buttons */
.btn-new { top: 420px;}
.btn-roll { top: 150px;}
.btn-hold { top: 200px;}
.btn-rules { top: 540px; width: 100; font-size: 15px;}

.active .player-name::after {font-size: 35px;}
    }
    




